/* width */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-grey-dark);
  border-radius: 1rem;
  opacity: 0.6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-quaternary-light);
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-grey-dark-2);
}
