.text-area {
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__field {
    padding: 0.8rem;
    border: none;
    border: 2px solid var(--color-secondary-light);
    border-radius: var(--border-radius-sm);
    color: var(--color-grey-dark-3);
    overflow: hidden;

    &:focus {
      border: 2px solid var(--color-secondary);
      box-shadow: var(--shadow-xs);
      outline: none;

      & + .text-area__label {
        transform: translate(0.5rem, -50%);
        color: var(--color-secondary-dark);
        font-size: 75%;
        padding: 0.8rem;
      }
    }

    &--filled + .text-area__label {
      transform: translate(0.5rem, -50%);
      color: var(--color-secondary-dark);
      font-size: 75%;
      padding: 0.8rem;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    margin-left: 0.8rem;
    border-radius: var(--border-radius-md);
    color: var(--color-grey-dark);
    background-image: linear-gradient(
      var(--color-white) 0 75%,
      transparent 75% 100%
    );
    transform: translateY(40%);
    transition: all 0.2s linear;
  }
}
