.news-swiper {
  width: 100%;
  max-width: 100vw;
  margin-top: 1rem;
  user-select: none;
  box-shadow: var(--shadow-lg);
  border-radius: var(--border-radius-sm);

  .news-swiper__figure {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    position: relative;
    font-size: 1.5rem;
    color: var(--color-white);
    border-radius: var(--border-radius-sm);
  }

  .news-swiper__image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    max-height: inherit;
    object-fit: cover;
    border-radius: inherit;
    filter: brightness(90%);
  }

  .news-swiper__overlay {
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(
      var(--color-black),
      transparent 15%,
      transparent 75%,
      var(--color-black) 100%
    );
    border-radius: inherit;
    opacity: 0.8;
  }

  &__info {
    display: flex;
    align-items: center;
    width: inherit;
    position: absolute;
    top: 0;

    &--time {
    }

    .icon-button {
      cursor: pointer;
    }
  }

  &__title {
    position: absolute;
    bottom: 3rem;
    width: 75%;
    @include textClamp(3);
    font-weight: 300;
    font-size: 1.6rem;
  }

  .swiper {
    border-radius: var(--border-radius-sm);
    &-pagination {
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: end;
      padding-right: 1rem;
      &-bullet {
        position: relative;
        background-color: var(--color-tertiary-light);
        opacity: 1;
        transform: scale(0.8);
        transition: transform 0.5s;

        &-active {
          background: transparent;
          border: solid 2px var(--color-tertiary-light);
          transform: scale(1.3);
        }
      }
    }
  }
}
